In [26]:
import pandas as pd
import numpy as np
dic={ "A":(11,21,31,41,51),
     "B":("M","F","M","F","F"),
     "C":("s","t","u","t","u"),
     "D":(1,2,3,4,np.nan),}
df = pd.DataFrame(dic)
df.head()

    A  B  C    D
0  11  M  s  1.0
1  21  F  t  2.0
2  31  M  u  3.0
3  41  F  t  4.0
4  51  F  u  NaN

In [27]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
ohe = OneHotEncoder()
imp = SimpleImputer()

In [90]:
ct = make_column_transformer(
    (ohe, ['B', 'C']),  # apply OneHotEncoder
    (imp, ['D']),              # apply SimpleImputer 
    remainder='passthrough')     # include remaining columns in the output
ind=["BF","BM","Cs","Ct","Cu","D","A"]

In [94]:
nds=ct.fit_transform(df)

In [97]:
nds=pd.DataFrame(nds)
print(df)
nds.columns=ind
nds

    A  B  C    D
0  11  M  s  1.0
1  21  F  t  2.0
2  31  M  u  3.0
3  41  F  t  4.0
4  51  F  u  NaN

    BF   BM   Cs   Ct   Cu    D     A
0  0.0  1.0  1.0  0.0  0.0  1.0  11.0
1  1.0  0.0  0.0  1.0  0.0  2.0  21.0
2  0.0  1.0  0.0  0.0  1.0  3.0  31.0
3  1.0  0.0  0.0  1.0  0.0  4.0  41.0
4  1.0  0.0  0.0  0.0  1.0  2.5  51.0